{{!-- 
ORIGINAL: node_modules/dmd/partials/all-docs/docs/header.hbs
========
GOALS:
=====
  - make indexable using markdown #section
      CHANGE: name=
      TO:     id=
--}}

<a name="{{{anchorName}}}" id="{{{anchorName}}}"></a>

{{>heading-indent}}{{>sig-name}}
